<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>View All Books</title>
</head>
<body>
	<div>
		<a href="/">Home</a>
	</div>
	<div>
		<table border=1 class="">
			<tr>
				<th>ISBN</th>
				<th>Title</th>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.isbn}"></td>
				<td th:text="${book.title}"></td>
				<td>
					<a th:href="@{'/viewbook?id='+${book.id}}">view</a>
				</td>
				<td>
					<a th:href="@{'/updatebook?id='+${book.id}}">update</a>
				</td>
			</tr>
		</table>
	</div>
</body>
</html>